<%- include("./partials/header") %>
<!-- Body of the page is here -->
<div class="container"> 
  <div class="main">
    <div class="row">
      <div class="col-md-10">
        <h1>My Account</h1>
      </div>
      <div class="col-md-2" >
        <button class="btn btn-default">Edit info</button>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="row">
          <div class="col-md-4" style="background-color: pink;">
            <img src="https://img.icons8.com/bubbles/100/000000/user.png" class="rounded mx-auto d-block" alt="User-Profile-Image">
          </div>
          <div class="col-md-8">
            <div class="row">
              <div class="col-md-12">
                <p><b>Name: </b><%= user.firstName %> <%= user.lastName %></p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <p><b>Email: </b><%= user.email %></p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <p><b>Preference: </b> </p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <p><b>Budget: </b> </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- start edit here --> 
    <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-4" style="background-color: #3399ff;">
                        <img src="https://img.icons8.com/bubbles/100/000000/user.png" class="rounded mx-auto d-block" alt="User-Profile-Image">
                    </div>
                    <div class="col-md-8">
                        <div class="row">
                            <div class="col-md-4">
                                <p><i class="fa fa-user"></i> <b> Name: </b> </p>
                            </div>
                            <div class="col-md-8">
                                <p> Hoa Nguyen</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <p><i class="fa fa-envelope"></i> <b>Email:</b> </p>
                            </div>
                            <div class="col-md-8">
                                <p> hoan193@my.yorku.ca </p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <p><i class="fa fa-phone"></i> <b>Phone:</b> </p>
                            </div>
                            <div class="col-md-8">
                                <p> 123 123 1234 </p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <p><i class="fa fa-star"></i> <b>Preference: </b></p>
                            </div>
                            <div class="col-md-8">
                                <p> Something here</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <p><i class="fa fa-money"></i> <b>Budget: </b>e</p>
                            </div>
                            <div class="col-md-8">
                                <p> Something here</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <p><i class="fa fa-venus-mars"></i> <b>Gender: </b> </p>
                            </div>
                            <div class="col-md-8">
                                <p> Something here</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <p><i class="fa fa-map-marker"></i> <b>Location: </b> </p>
                            </div>
                            <div class="col-md-8">
                                <p> Something here</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <p><i class="fa fa-check"></i> <b>Shared Bathroom? </b> </p>
                            </div>
                            <div class="col-md-8">
                                <p>yes</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <p><i class="fa fa-check"></i> <b>Do you have pets? </b></p>
                            </div>
                            <div class="col-md-8">
                                <p> no</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <p><i class="fa fa-check"></i> <b>Do you smoke? </b></p>
                            </div>
                            <div class="col-md-8">
                                <p> no</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <p><i class="fa fa-check"></i>  <b>Dietary restrictions? </b></p>
                            </div>
                            <div class="col-md-8">
                                <p>no</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> <!-- end edit --> 

  </div> <!--class="main"-->
</div><!--class="container"-->
<%- include("./partials/footer") %>
